.table-wrapper {
  width: 700px;
  height: 700px;
  background-color: pink;
  border-radius: 15px;
  margin-left: 10px;
}

.header {
  width: 700px;
  height: 80px;
  background-color: cornflowerblue;
  border-radius: 15px 15px 0 0;
}

.car-container {
  display: flex;
  width: 700px;
  height: 40px;
  color: brown;
}

.name-car {
  width: 120px;
}

.best-car {
  width: 50px;
}

.number-heading-Wins {
  margin-left: 60px;
}

.none {
  display: none;
}
