.button {
  border: 0;
  width: 122px;
  height: 36px;
  color: rgba(33, 150, 243, 1);
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: bold;
  margin:15px 80px 0 0;
  background: rgba(242, 249, 254, 1);
}
