@media screen and (max-width: 320px) {
* {
  margin: 0;
  padding: 0;
}
.page {
  width: 320px;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
}


.header-wrap {
  max-width: 320px;
  padding: 0px 10px 0 10px;
}
.content-container {
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: #fff;
  height: 92px;
  width: 100%;
  box-shadow: 0px 4px 8px rgb(44 101 77 / 8%);
}

.main-slider {
  background: url(../../assets/images/Rectangle32.png) no-repeat;
  background-size: cover;

  height: 940px;
  margin: 0 auto;
}

.main-slider__heading {
  color: white;
  margin-top: 0;
  padding-top: 205px;
  padding-left: 210px;
  line-height: 104px;
  font-family: "Roboto", sans-serif;
  font-size: 89px;
  font-weight: 900;
  display: block;
  width: 793px;
}

.header-logo__pictures {
  padding: 26px 0 0 0;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__navigation li {
  list-style-type: none;
  font-size: 16px;
  margin-left: 83px;
  margin-top: 41px;
  justify-content: space-between;
}

.header__content-container {
  display: flex;
  justify-content: space-between;
}

.header__navigation a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
}


.zoos {
  font-weight: 400;
  line-height: 19px;
}

.map_nav,
.contact_us,
.design {
  font-weight: 400;
  line-height: 19px;
}

.header__navigation {
  margin-right: 91px;
  margin-top: -3px;
}
.navigation {
  display: none;
}
.navigation__btn {
  width: 54px;
  height: 30px;
  border-radius: 190px;
  border: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: -95px;
  background: #f2f2f2;
}
.button-menu {
  background-image: url(./../../assets/images/menu.svg);
  padding-left: 39px;
  padding-bottom: 0px;
  height: 21px;
  display: inline-block;
  margin-top: 37px;
  position: relative;
  left: -2px;
  top: -1px;
}
.navigation__btn:hover {
  background-color: #333333a2;
}

.cirle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 28px;
  margin-left: 7px;
  background: #ffffff;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

h2 {
  margin: 0;
  padding: 0;
}

.heading_zoo {
  position: absolute;
  display: none;
}

.your-favorite {
  background: #e5e5e5;
  width: 100%;
  height: 780px;
}

.your-favorite__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  width: 272px;
  padding-left: 47px;
  padding-top: 33px;
}
.your-favorite__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  color: #4f4f4f;
  padding-top: 14px;
  padding-left: 20px;
  width: 282px;
}
.pets-in-zoo__slider li:nth-child(4) {
  display: none;
}
.pets-in-zoo__slider li:nth-child(5) {
  display: none;
}
.pets-in-zoo__slider li:nth-child(6) {
  display: none;
}
.pets-in-zoo__slider li:nth-child(7) {
  display: none;
}
.pets-in-zoo__slider li:nth-child(8) {
  display: none;
}
.pets-in-zoo__slider {
  display: flex;
  width: 308px;
  padding-left: -3px;
  padding-top: 25px;
  box-sizing: border-box;
}
.panda_2 {
  position: relative;
  left: 15px;
}
.panda_2,
.eagle_2,
.gorilla_2,
.alligator_2 {
  width: 63px;
  height: 63px;
}

.eagle_2 {
  width: 80px;
  position: relative;
  left: -5px;
  top: -14px;
  height: 80px;
}

li {
  list-style-type: none;
}

.pets-in-zoo__slider li {
  padding-right: 27px;
}

.arrow_left {
  position: relative;
  left: 26px;
  top: 72px;
  width: 50px;
}
.arrow_right {
  position: relative;
  left: 275px;
  top: -72px;
  width: 40px;
}

.pets-in-zoo__button {
  position: relative;
  top: -94px;
  left: 686px;
  width: 245px;
  height: 55px;
  border-radius: 3px;
  border: 0;
  margin-top: 38px;
  background: url(../../assets/images/btn.svg);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  line-height: 21px;
}

.pets-in-zoo__a {
  position: relative;
  bottom: -2px;
  left: 0px;
}

.pets-in-zoo__slider-p {
  position: relative;
  border-bottom: 10px #333333 solid;
  width: 30px;
  height: 10px;
  left: 0px;
  top: 1px;
}

.pets-in-zoo__slider-num {
  display: inline-block;
  color: white;
  padding-left: 96px;
}

.pets-in-zoo__left-num {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 28px;
  color: #333333;
}

.pets-in-zoo__right-num {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #bdbdbd;
  line-height: 16px;
}

.pets-in-zoo__slider-link {
  border-bottom: 5px rgba(189, 189, 189, 0.57) solid;
  width: 245px;
  margin-top: -6px;
}  

.panda_2 {
  position: relative;
  left: 15px;
  top: -4px;
}

.circ_map {
  position: absolute;
  left: 111px;
  top: 384px;
  width: 90px;
}
.gorilla_2 {
  position: relative;
  top: -5px;
  left: -24px;
}
.pets-in-zoo__a {
  position: relative;
  bottom: -2px;
  left: 0px;
}

.pets-in-zoo__slider-p {
  position: relative;
  border-bottom: 10px #333333 solid;
  width: 30px;
  height: 10px;
  left: 30px;
  top: 1px;
}

.pets-in-zoo__slider-num {
  display: inline-block;
  color: white;
  padding-left: 96px;
}

.pets-in-zoo__left-num {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 28px;
  color: #333333;
}

.pets-in-zoo__right-num {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #bdbdbd;
  line-height: 16px;
}

.pets-in-zoo__slider-link {
  border-bottom: 5px rgba(189, 189, 189, 0.57) solid;
  width: 245px;
  margin-top: -6px;
}
.pets-in-zoo__slider_1 {
  position: relative;
  top: -44px;
  margin-right: 0px;
  margin-top: 0;
  padding-left: 50px;
  padding-top: 14px;
  width: 264px;
}

.how-it-works__right-num {
  color: #828282;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
}

.map__img {
  width: 298px;
  padding-left: 12px;
  padding-top: 0px;
  height: 146px;
  position: relative;
  top: -6px;
}

.map__button {
  position: relative;
  top: 64px;
  left: 38px;
  width: 245px;
  height: 55px;
  border-radius: 3px;
  border: 0;
  margin-top: 38px;
  background: url(../../assets/images/btn.svg);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  line-height: 21px;
}

.map__i {
  background-image: url(../../assets/images/Frame37.png);
  width: 26px;
  height: 26px;
  padding: 3px;
  display: inline-block;
  line-height: 21px;
  position: relative;
  top: 3px;
  right: 3px;
}

.map__a {
  position: relative;
  bottom: 6px;
  left: 3px;
}

.map__check-img-eagle {
  position: relative;
  top: 92px;
  left: 24px;
  width: 31px;
}
.map__img-eagle {
  position: relative;
  top: 50px;
  left: 30px;
  width: 20px;
}

.map__check-kroko {
  position: relative;
  top: -396px;
  left: 370px;
  width: 31px;
}

.map__kroko {
  position: relative;
  top: -414px;
  left: 340px;
  width: 20px;
}

.kroko {
  position: relative;
  top: 470px;
  left: -305px;
}
.map__check-gorilla {
  position: relative;
  top: -350px;
  left: 206px;
  width: 31px;
}

.map__gorilla {
  position: relative;
  top: -368px;
  left: 177px;
  width: 21px;
}
.gorilla-check {
  position: relative;
  top: 401px;
  left: -62px;
  width: 100px;
}

.map__check-panda {
  position: relative;
  top: -462px;
  width: 30px;
  left: 329px;
}

.map__panda {
  position: relative;
  top: -479px;
  left: 301px;
  width: 20px;
}

.panda-check {
  position: relative;
  top: 437px;
  width: 100px;
  left: -100px;
}
.eag {
  margin-left: 12px;
  margin-top: -243px;
  width: 32px;
  height: 25px;
}
.map2 {
  height: 904px;
}

.pets-in-zoo__slider img:hover {
  transform: scale(1.1);
}
.footer-logo {
  height: 30px;
}
.footer {
  background-color: #333333;
  width: 100%;
  height: 1100px;
}

.footer__button-send:hover {
  color: red;
  opacity: 0.4;
}

.footer-logo__pictures {
  padding: 49px 21px 0 0px;
}

.footer__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 134px;
  padding-left: 0px;
  width: 55px;
  height: 96px;
  position: relative;
  left: -88px;
}

.footer__navigation li {
  list-style-type: none;
  font-size: 16px;
  margin-left: 73px;
  justify-content: space-between;
  margin: 0;
}

.footer__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__navigation a {
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
}
.contact-us {
  position: relative;
  top: -34px;
}
.footer__button {
  display: inline-block;
  width: 298px;
  height: 55px;
  position: relative;
  left: -125px;
  top: 727px;
  background: linear-gradient( 
106.89deg
, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: 0;
  margin-top: 150px;
  margin-right: -122px;
}
.zoo-online-centre {
  margin-left: 103px;
  margin-top: 364px;
  width: 297px;
  position: relative;
  left: -393px;
  top: -34px;
}

.footer__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  padding-left: 0;
  padding-top: 53px;
}

.input_first {
  width: 289px;
  margin-top: 26px;
  height: 31px;
  background-color: #333;
  color: #e0e0e0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
}

input::-webkit-input-placeholder {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
}

.input_email {
  display: block;
  width: 289px;
  margin-top: 15px;
  height: 31px;
  background-color: #333;
  color: #e0e0e0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
}

.fieldset {
  width: 282px;
  height: 118px;
  margin-top: 22px;
  background-color: #333;
  border-radius: 5px;
}

.textarea {
  width: 286px;
  height: 107px;
  background-color: #333;
  border: 0;
  resize: none;
  outline: none;
}

legend {
  position: relative;
  top: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  margin-left: 4px;
  white-space: pre;
}

.checkbox {
  margin-top: 26px;
  margin-left: 2px;
  background: #333;
}

.text_checkbox {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -3px;
  left: 2px;
}
.footer__button-send {
  display: block;
  padding-left: 180px;
  padding-top: 13px;
  width: 108px;
  height: 16px;
  background: #333;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  margin-top: 0px;
  font-weight: 500;
}

.footer_span-arrow {
  background-image: url(../../assets/images/Arrow4.svg);
  width: 42px;
  height: 2px;
  padding: 3px;
  display: inline-block;
  line-height: 21px;
  position: relative;
  top: -17px;
  right: -61px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.zoo-online-centre__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding-right: 540px;
  padding-right: 289px;
  padding-top: 54px;
  color: #fefefe;
}

.zoo-online-centre-info,
.zoo-online-centre-info2,
.zoo-online-centre-info3,
.zoo-online-centre-info4 {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  padding-top: 35px;
}

.zoo-online-centre-info2 {
  padding-top: 5px;
}

.zoo-online-centre-info3 {
  padding-top: 20px;
}

.zoo-online-centre-info4 {
  padding-top: 5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 20px;
  height: 121px;
  top: -72px;
  left: 2px;
}

.social_footer {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 125px;
  height: 20px;
  top: 0px;
  left: -15px;
  margin-top: 20px;
}

.social_footer li {
  padding-left: 15px;
}

a {
  text-decoration: none;
  text-transform: none;
}

.hr {
  border-bottom: 1px #bdbdbd solid;
  width: 284.04px;
  margin-top: 146px;
}

.copyright1 {
  font-family: "Roboto", sans-serif;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 28px;
}

.copyright2 {
  font-family: "Roboto", sans-serif;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 5px;
}

.footer__button:hover {
  opacity: 0.4;
}

.map__button:hover {
  opacity: 0.4;
}

.pets-in-zoo__slider-p:hover {
  position: relative;
  border-bottom: 10px #4bd8b5 solid;
  width: 30px;
  height: 10px;
  left: 30px;
  top: 1px;
}

.about {
  font-weight: 400;
}

.about span {
  line-height: 19px;
}

li .map_nav {
  font-weight: 900;
  border-bottom: 1px black solid;
}


.about,
.map_nav,
.zoos,
.contact_us,
.design {
  font-family: "Roboto", sans-serif;
}

.social_footer li a:hover {
  opacity: 0.4;
}

.map_nav1 {
  text-decoration: none;
}

.header__navigation a:hover {
  font-weight: 900;
  border-bottom: 1px solid black;
}



.arrow-left_img:hover {
  opacity: 0.4;
}

.arrow-right_img:hover {
  opacity: 0.4;
}
}

.footer-wrap {
  max-width: 1200px;
  padding: 0px 20px 0 20px;
}