.update-button {
  border: none;
  display: block;
  background-color: red;
  width: 100px;
  color: white;
  height: 30px;
  cursor: pointer;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
}
