.card__front {
  // background-image: url('/public/categoryActionSetA/cry.jpg');
  background-position: center;
  background-size: cover;
}


.cards-field {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  width: 1000px;
  flex-wrap: wrap;
  flex: 1 0 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
  perspective: 35rem;
  margin-top: 50px;

}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem black;
  // transform: translateZ(0.1rem);
}

.card {
  width: 298px;
  height: 248px;
  transform-style: preserve-3d;
  transition: all .3s;
  transform-origin: right;
  position: relative;
  box-shadow: 0 0 0.25rem black;
  border-radius: .5rem;
  margin: 10px
}

.card > .card__front,
.card__back {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.card-header {
  background-color: #fff;
  color: black;
  height: 30px;
  border-radius: 0 0 .5rem .5rem;
  padding-top: 5px;
}

.card-header {
  font-size: 23px;
}
