@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
        margin: 0 auto;
        overflow-x: hidden;
      }
    .header {
        background-color: #fff;
        height: 92px;
        width: 100%;
      }
      .header-logo {
        position: relative;
        left: -441px;
        top: 0px;
    }
    .content-container {
        margin: 0 auto;
        width: 300px;
    }
    .navigation {
        display: none;
    }
    
    .navigation__btn {
        width: 54px;
        position: relative;
        left: -363px;
        height: 30px;
        border-radius: 190px;
        border: 0;
        margin-top: 32px;
        margin-bottom: 32px;
        margin-right: 0px;
        background: #f2f2f2;
    }
    .button-menu {
        background-image: url(./assets/images/menu.svg);
        padding-left: 39px;
        padding-bottom: 0px;
        height: 21px;
        display: inline-block;
        margin-top: 37px;
        position: relative;
        left: -441px;
        top: -1px;
    }
    .kroko {
        position: relative;
        top: -116px;
        width: 50px;
        left: 104px;
    }
    .slider {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -119px;
        left: -947px;
        width: 337px;
    }
    .main__slider-panda {
        position: relative;
        top: -113px;
    }
    .main {
        max-width: 100vw;
        overflow: hidden;
      }
    .main__button {
        position: absolute;
        top: 367px;
        left: 10px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 0;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
        transition: .3s;
    }
    .main-slider-block {
        position: relative;
        left: -28px;
        top: 66px;
        width: 338px;
        height: 186px;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 20px;
        height: 121px;
        top: -130px;
        left: 57px;
        display: none;
    }
    .line {
        border-bottom: 1px white solid;
        width: 310px;
        position: absolute;
        left: 9px;
        top: 556px;
    }
    .circ_line {
        display: block;
        height: 11px;
        width: 11px;
        border: 1px white solid;
        border-radius: 50%;
        position: absolute;
        left: 3px;
        top: 550px;
    }
    .circ_line_1 {
        display: block;
        height: 5px;
        width: 5px;
        border: none;
        border-radius: 50%;
        position: absolute;
        left: 7px;
        top: 554px;
        background-color: white;
    }
    .main-slider {
        background: url(./assets/images/main_mobile.png) no-repeat;
        background-size: cover;
        height: 669px;
        margin: 0 auto;
      }
      .main-slider__heading {
        color: white;
        margin-top: 0;
        padding-top: 0px;
        padding-left: 0px;
        line-height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        font-weight: 900;
        display: block;
        width: 300px;
        position: relative;
        left: -56px;
        top: -113px;
    }
    .panda {
        position: relative;
        top: 46px;
        left: -25px;
        transition: .3s;
        width: 140px;
    }
    .panda_text {
        position: absolute;
        color: white;
        display: block;
        width: 144px;
        height: 48px;
        top: 121px;
        left: -38px;
        padding-left: 20px;
        font-size: 12px;
        line-height: 14px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .panda_output {
        position: relative;
        left: 208px;
        top: -9px;
    }
    .panda_slider {
        margin-top: 11px;
        position: relative;
        left: 163px;
        top: -18px;
        -webkit-appearance: none;
        width: 141px;
        height: 5px;
        background: rgba(189, 189, 189, 0.57);
        outline: none;
        /* opacity: 0.7; */
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .main__slider-panda {
        color: white;
        width: 100px;
    }
    .main-slider__link-panda {
        position: relative;
        font-size: 10px;
        line-height: 11px;
        font-weight: 500;
        color: #4bd8b5;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        top: -33px;
        left: -18px;
    }
    .main-slider__link-panda_dollar {
        position: relative;
        font-size: 10px;
        line-height: 14px;
        font-weight: 500;
        color: #4bd8b5;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        top: -25px;
        left: -17px;
    }
    .eagle {
        position: relative;
        top: 27px;
        left: 42px;
        width: 194px;
        transition: .3s;
    }
    .gorilla {
        position: relative;
        top: -14px;
        left: -32px;
        width: 308px;
        transition: .3s;
    }
    .eagle_li {
        position: relative;
        left: -17px;
        width: 213px;
    }
    .block__how-it-works h2 {
        font-size: 36px;
        line-height: 56px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        color: #333333;
        padding-top: 40px;
        padding-left: 0px;
        width: 300px;
    }
    
    .paragraph__how-it-works {
        width: 300px;
        height: 267px;
        padding-top: 17px;
        padding-left: 0px;
        font-size: 14px;
        line-height: 16px;
        font-family: "Roboto", sans-serif;
        color: #4f4f4f;
        font-weight: 400;
    }
    .how-it-works__img {
        background-image: url(./assets/images/How-it-works_320px.png);
        width: 746px;
        height: 323px;
        padding-left: 300px;
        padding-top: 305px;
        position: relative;
        top: 154px;
        left: 0px;
    }
    .how-it-works__slider {
        float: right;
        margin-right: 22px;
        margin-top: 479px;
        position: relative;
        left: -643px;
        top: -124px;
    }
    .how-it-works__slider-p {
        position: relative;
        border-bottom: 10px #333333 solid;
        width: 78px;
        height: 12px;
        left: 0px;
        top: 1px;
    }
    .how-it-works__button {
        position: absolute;
        top: 1501px;
        left: 43px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 38px;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
        transition: .3s;
    }
    .tree {
        display: flex;
        position: relative;
        top: -53px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        width: 240px;
        margin-left: 49px;
    }
    .what-inspires-us {
        width: 277px;
        padding-top: 101px;
    }
    p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 16px;
        font-weight: 400;
        padding-top: 17px;
        width: 283px;
    }
    .whats-inspiring-us {
        height: 719px;
        background-color: #f2f2f2;
        width: 100%;
    }
    .what-inspires-us h3 {
        padding-top: 10px;
        font-size: 20px;
        color: #333333;
        line-height: 23px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        padding-left: 40px;
    }
    .what-inspires-us p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 16px;
        font-weight: 400;
        padding-top: 19px;
        width: 299px;
        position: relative;
        left: -30px;
        top: -2px;
    }
    .what-inspires-us img {
        padding-left: 84px;
    }
    .our-mission {
        padding-top: 115px;
        width: 264px;
        height: 181px;
    }
    .our-mission img {
        padding-left: 72px;
        position: relative;
        top: 0px;
    }
    .our-mission h3 {
        padding-top: 10px;
        font-size: 20px;
        color: #333333;
        line-height: 23px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        padding-left: 57px;
    }
    .our-mission p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 16px;
        font-weight: 400;
        padding-top: 16px;
        width: 302px;
        position: relative;
        left: -37px;
        padding-left: 0px;
    }
    .what-we-believe-in {
        padding-top: 14px;
        position: relative;
        left: -12px;
        width: 261px;
    }
    .what-we-believe-in img {
        padding-left: 88px;
    }
    .what-we-believe-in h3 {
        padding-top: 10px;
        font-size: 20px;
        color: #333333;
        line-height: 23px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        padding-left: 34px;
    }
    .what-we-believe-in p {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #4f4f4f;
        line-height: 16px;
        font-weight: 400;
        padding-top: 16px;
        width: 295px;
        position: relative;
        left: -26px;
    }
    .main_ali {
        display: none;
    }
    .fox_li {
        display: none;
    }
    .main_gorilla {
        background-image: url(./assets/images/Gorilla_mobile.png);
        width: 90px;
        height: 164px;
        padding-left: 24px;
        position: relative;
        left: 0px;
        top: 65px;
        border-radius: 5px 0 0 5px;
    }
    .main_panda {
        width: 245px;
        position: relative;
        left: 15px;
    }
    .pay-and-feed__heading {
        color: #333333;
        font-weight: 900;
        font-size: 36px;
        line-height: 56px;
        font-family: "Roboto", sans-serif;
        width: 259px;
        padding-left: 43px;
        padding-top: 40px;
    }
    .arrow_left {
        position: relative;
        left: -44px;
        top: 171px;
        width: 50px;
        visibility: hidden;
    }
    .pets-in-zoo__slider {
        display: flex;
        width: 300px;
        position: relative;
        top: -9px;
        padding-left: 0px;
        padding-top: 0px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .panda_2, .eagle_2, .gorilla_2, .alligator_2 {
        width: 208px;
        height: 302px;
    }
    .eagle_2 {
        background: url(./assets/images/Eagle_320.png) no-repeat;
        padding-left: 73px;
        padding-bottom: 283px;
        position: relative;
        top: 0px;
        width: 200px;
    }
    .gorilla_2 {
        display: none;
    }
    .gorilla_640 {
        background-image: url(./assets/images/Gorilla_640.png);
        padding-left: 10px;
        display: block;
        height: 301px;
        width: 130px;
    }
    .pets-in-zoo {
        height: 683px;
        background-color: #fff;
        width: 100%;
    }
    .pets-in-zoo__slider li {
        padding-right: 20px;
    }
    .pets-in-zoo__slider li:nth-child(3) {
        width: 139px;
        display: none;
    }
    .pets-in-zoo__slider li:nth-child(4) {
        display: none;
    }
    .pets-in-zoo__slider li:nth-child(2) {
        width: 52px;
    }
    .arrow_right {
        position: relative;
        left: 925px;
        top: -248px;
        width: 50px;
        display: none;
    }
    .pets-in-zoo__text {
        position: relative;
        color: white;
        display: block;
        width: 193px;
        height: 48px;
        top: -123px;
        padding-left: 9px;
        font-size: 14px;
        line-height: 16px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
    }
    .pets-in-zoo__link-panda {
        position: relative;
        font-size: 12px;
        line-height: 14px;
        font-weight: 500;
        color: #4bd8b5;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        top: -117px;
        left: 4px;
    }
    .pets-in-zoo__button {
        position: relative;
        top: -63px;
        left: 28px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 38px;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
    }
    .pets-in-zoo__slider_1 {
        position: relative;
        top: -54px;
        margin-right: 0px;
        margin-top: 0;
        padding-left: 27px;
    }
    .pets-in-zoo__heading {
        color: #333333;
        line-height: 56px;
        font-size: 36px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        padding-top: 91px;
        padding-left: 55px;
    }
    .pets-in-zoo__nav {
        overflow: hidden;
    }
    .pay-and-feed {
        height: 1202px;
        background-color: #f2f2f2;
        width: 100%;
      }
    .pay-and-feed__paragraph {
        display: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #828282;
        padding-top: 17px;
        width: 538px;
        text-align: center;
        padding-left: 30px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;

    }
    .pay-and-feed__main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 278px;
        height: 815px;
        padding-left: 0px;
        padding-top: 26px;
    }
    .pay-and-feed__arrow {
        background-image: url(./assets/images/Arrow_640.png);
        padding-left: 16px;
        position: relative;
        padding-top: 41px;
        left: 9px;
        margin-top: 127px;
        top: 53px;
        transform: rotate(
    0deg
    );
    }
    .img_640 {
        position: relative;
        left: 11px;
        top: -9px;
    }
    .img_1 {
        position: relative;
        left: 11px;
        top: -7px;
    }
    .pay-and-feed__button {
        position: relative;
        top: 149px;
        left: 28px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 38px;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
        transition: .3s;
    }
.testimonials {
    background-color: #fff;
    width: 100%;
    height: 705px;
}
.testimonials__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 56px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    width: 263px;
    padding-left: 44px;
    padding-top: 41px;
}
.testimonials__blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 310px;
    padding-top: 29px;
    padding-left: 0px;
    position: relative;
    left: -13px;
}
.testimonials__blog--left {
    background: #fefefe;
    width: 300px;
    position: relative;
    top: 2px;
    left: 9px;
    height: 363px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 15px rgb(6 12 70 / 10%);
    display: block;
}
    .testimonials__blog--right {
        display: none;
    background: #fefefe;
    width: 300px;
    position: relative;
    top: 2px;
    left: -146px;
    height: 344px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 15px rgb(6 12 70 / 10%);
}
.arrow-right_img {
    display: none;
}
    .arrow_left_1 {
        display: none;
        position: relative;
        left: -45px;
        top: 203px;
        width: 50px;
    }
    .arrow_right_1 {
        display: none;
        position: relative;
        left: 925px;
        top: -169px;
        width: 50px;
    }
    .testimonials__img1 {
        padding-left: 127px;
        padding-top: 60px;
    }
    .testimonials__heading2 {
        padding-left: 91px;
        padding-top: 148px;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
        font-family: "Roboto", sans-serif;
    }
    .testimonials-user1 {
        position: relative;
        top: 87px;
        left: 178px;
        width: 50px;
    }
    .testimonials__img1 {
        display: none;
        background-image: url(./assets/images/user1.svg);
        padding-left: 50px;
        padding-top: 31px;
      }
      
    .testimonials__img2 {
        background-image: url(./assets/images/user_mobile.png);
        position: relative;
        top: -36px;
        padding-left: 68px;
        padding-bottom: 50px;
        left: -61px;
      }
      .testimonials__paragraph {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4f4f4f;
        width: 285px;
        padding-left: 14px;
        padding-top: 18px;
    }
    .testimonials__img3 {
        padding-left: 119px;
        padding-top: 51px;
    }
    .testimonials__heading--user2 {
        padding-left: 252px;
        padding-top: 13px;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color: #333333;
        font-family: "Roboto", sans-serif;
    }
    .testimonials__paragraph--user2 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #4f4f4f;
        width: 440px;
        padding-left: 73px;
        padding-top: 18px;
    }
    .testimonials__button {
        position: relative;
        top: 36px;
        left: 29px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 38px;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
    }
    .testimonials__slider_1 {
        position: relative;
        top: 51px;
        margin-right: 0px;
        margin-top: 0;
        padding-left: 27px;
    }
    .map {
        background-color: #f2f2f2;
        width: 100%;
        height: 413px;
    }
    .map__heading {
        color: #333333;
        font-size: 36px;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        line-height: 56px;
        width: 189px;
        padding-left: 114px;
        padding-top: 43px;
    }
    .map__img {
        width: 300px;
        height: 146px;
        padding-left: 0px;
        padding-top: 0px;
        position: relative;
        top: 22px;
        left: -151px;
    }
    .map__check-img-eagle {
        margin: 0px;
        position: relative;
        top: -125px;
        left: 23px;
        background-size: 32px;
        padding: 32px;
        width: 19px;
        padding-left: 0px;
        padding-bottom: 12px;
    }
    .map__img-eagle {
        position: relative;
        top: -25px;
        left: 6px;
        width: 21px;
    }
    .kroko {
        position: relative;
        top: -91px;
        width: 50px;
        left: -176px;
    }
    .map__check-panda {
        background-image: url(./assets/images/check.svg);
        padding: 22px;
        padding-left: 10px;
        position: relative;
        top: 30px;
        left: 217px;
        display: block;
        width: 0px;
        background-size: 32px;
        height: 18px;
    }
    .map__panda {
        position: relative;
        top: -16px;
        left: -5px;
        width: 21px;
    }
    .map__check-kroko {
        background-image: url(./assets/images/check.svg);
        padding: 63px;
        padding: 33px;
        padding-left: 0px;
        padding-bottom: 11px;
        position: relative;
        top: -71px;
        left: 229px;
        background-size: 32px;
        width: 0px;
        height: 0px;
        display: inline-block;
    }
    .map__kroko {
        position: relative;
        top: -27px;
        left: 6px;
        width: 21px;
    }
    .map__check-gorilla {
        background-image: url(./assets/images/check.svg);
        padding: 22px;
        padding-left: 10px;
        position: relative;
        top: -101px;
        left: -20px;
        display: block;
        width: 0px;
        height: 18px;
        background-size: 32px;
        visibility: visible;
    }
    .map__gorilla {
        position: relative;
        top: -15px;
        width: 21px;
        left: -4px;
    }
    .btn-action {
        position: relative;
        top: -159px;
    }
    .map__button {
        position: relative;
        top: -21px;
        left: 26px;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        border: 0;
        margin-top: 38px;
        background: url(./assets/images/btn.svg);
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        color: white;
        text-transform: uppercase;
        line-height: 21px;
    }
    .gorilla-check {
        position: relative;
        top: -98px;
        left: 156px;
        width: 100px;
    }
    .footer-logo {
        margin-top: -50px;
    }
    .footer__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0px;
        height: 97px;
        position: relative;
        left: -460px;
        top: 134px;
    }
    .footer-logo {
        position: relative;
        left: -440px;
    }
    .footer__navigation li {
        list-style-type: none;
        font-size: 16px;
        margin-left: 73px;
        margin-top: 0px;
        /* justify-content: space-between; */
    }
    .footer__button {
        display: inline-block;
        width: 275px;
        height: 55px;
        background: linear-gradient( 
    106.89deg
     , #4bd8b5 -14.32%, #49d6df 100.68%);
        border-radius: 3px;
        text-transform: uppercase;
        outline: none;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 21px;
        border: 0;
        margin-top: 0px;
        position: absolute;
        top: 6243px;
        left: 22px;
    }
    .footer {
        background-color: #333333;
        width: 100%;
        height: 1100px;
    }
    .zoo-online-centre {
        margin-top: 76px;
        position: relative;
        left: -74px;
    }
    .footer__main {
        margin-top: 76px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__heading {
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        font-family: "Roboto", sans-serif;
        color: #fefefe;
        padding-left: 0;
        margin-top: 10px;
        width: 300px;
    }
    .form-footer {
        width: 280px;
    }
    .zoo-online-centre__heading {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        margin-left: 74px;
        padding-right: 540px;
        padding-right: 0;
        padding-top: 17px;
        color: #fefefe;
        display: inline-block;
        width: 140px;
    }
    .zoo-online-centre {
        margin-top: 76px;
        position: relative;
        left: -834px;
        top: 370px;
    }
    .contact-us {
        position: relative;
        left: -160px;
        top: -1px;
    }
    address {
        margin-left: 76px;
    }
    .social_footer {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        width: 125px;
        height: 20px;
        top: 0px;
        left: 61px;
        margin-top: 20px;
    }
    .footer__navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 0px;
        height: 97px;
        position: relative;
        /* left: 1000px; */
        top: 134px;
        left: -1378px;
    }
    .checkbox__footer {
        position: relative;
        top: 20px;
        left: -2px;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        color: #bdbdbd;
    }
    .footer__button-send {
        display: block;
        position: relative;
        top: 39px;
        left: 179px;
        width: 108px;
        height: 16px;
        background: #333;
        text-transform: uppercase;
        outline: none;
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        line-height: 16px;
        border: 0;
        margin-top: 0px;
        font-weight: 500;
    }
    .footer_span-arrow {
        background-image: url(./assets/images/Arrow4.svg);
        width: 42px;
        height: 2px;
        padding: 4px;
        display: inline-block;
        line-height: 21px;
        position: relative;
        top: -1px;
        right: -13px;
        padding-left: 45px;
    }
    .input_first {
        width: 299px;
        margin-top: 30px;
        height: 31px;
        background-color: #333;
        color: #e0e0e0;
        outline: none;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        padding: 0;
        border: 0;
        border-bottom: 1px solid #bdbdbd;
    }
    .input_email {
        display: block;
        width: 299px;
        margin-top: 14px;
        height: 31px;
        background-color: #333;
        color: #e0e0e0;
        outline: none;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        padding: 0;
        border: 0;
        border-bottom: 1px solid #bdbdbd;
    }
    .textarea {
        width: 296px;
        height: 104px;
        background-color: #333;
        border: 0;
        resize: none;
        outline: none;
    }
    .fieldset {
        width: 280px;
        height: 123px;
        margin-top: 24px;
        background-color: #333;
        border-radius: 5px;
    }
    .copyright1 {
        font-family: "Roboto", sans-serif;
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #bdbdbd;
        margin-top: 27px;
    }
    .hr {
        border-bottom: 1px #bdbdbd solid;
        width: 307.04px;
        margin-top: 577px;
        margin-left: 2px;
        position: relative;
        left: -441px;
    }
    .zoo-online-centre {
        width: 300px;
    }
    .copyright {
        position: relative;
        left: -440px;
        top: 3px;
        width: 300px;
    }
    .copyright1 {
    font-family: "Roboto", sans-serif;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
    margin-top: 26px;
}
}