* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1920px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.content-container {
  margin: 0 auto;
  width: 1620px;
}

.header {
  background-color: #fff;
  height: 94px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.main-slider {
  background: url(../../assets/images/Rectangle32.png) no-repeat;
  background-size: cover;

  height: 940px;
  margin: 0 auto;
}

.main-slider__heading {
  color: white;
  margin-top: 0;
  padding-top: 205px;
  padding-left: 210px;
  line-height: 104px;
  font-family: "Roboto", sans-serif;
  font-size: 89px;
  font-weight: 900;
  display: block;
  width: 793px;
}

.header-logo__pictures {
  padding: 26px 0 0 0;
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__navigation li {
  list-style-type: none;
  font-size: 16px;
  margin-left: 83px;
  margin-top: 41px;
  justify-content: space-between;
}

.header__content-container {
  display: flex;
  justify-content: space-between;
}

.header__navigation a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
}

.map_nav span:hover {
  border-bottom: 1px white solid;
  font-weight: 500;
  line-height: 19px;
}

.zoos {
  font-weight: 400;
  line-height: 19px;
}

.map_nav,
.contact_us,
.design {
  font-weight: 400;
  line-height: 19px;
}

.header__navigation {
  margin-right: 91px;
  margin-top: -3px;
}

.navigation__btn {
  width: 54px;
  height: 30px;
  border-radius: 190px;
  border: 0;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 0px;
  background: #f2f2f2;
}

.navigation__btn:hover {
  background-color: #333333a2;
}

.cirle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 28px;
  margin-left: 7px;
  background: #ffffff;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

h2 {
  margin: 0;
  padding: 0;
}

.heading_zoo {
  position: absolute;
  display: none;
}

.your-favorite {
  background: #e5e5e5;
  width: 100%;
  height: 1287px;
}

.your-favorite__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  width: 790px;
  padding-left: 585px;
  padding-top: 59px;
}

.your-favorite__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  color: #4f4f4f;
  padding-top: 23px;
  padding-left: 416px;
  width: 790px;
}

.pets-in-zoo__slider {
  display: flex;
  width: 1300px;
  padding-left: 242px;
  padding-top: 42px;
  box-sizing: border-box;
}

.panda_2,
.eagle_2,
.gorilla_2,
.alligator_2 {
  width: 108px;
  height: 108px;
}

.stream__text {
  width: 883px;
  height: 56px;
  margin-top: 59px;
  margin-left: 21px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

.eagle_2 {
  width: 137px;
  position: relative;
  left: 16px;
  top: -14px;
  height: 137px;
}

li {
  list-style-type: none;
}

.pets-in-zoo__slider li {
  padding-right: 30px;
}

.footer {
  background-color: #333333;
  width: 100%;
  height: 751px;
}

.footer-logo__pictures {
  padding: 100px 0 0 0px;
}

.footer__navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 78px;
  padding-left: 504px;
  width: 404px;
}

.footer__navigation li {
  list-style-type: none;
  font-size: 16px;
  margin-left: 73px;
  margin-top: 41px;
  justify-content: space-between;
}

.footer__header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__navigation a {
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
  line-height: 18px;
}

.footer__button {
  display: inline-block;
  width: 275px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  border: 0;
  margin-top: 99px;
}

.footer__heading {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  padding-left: 0;
  padding-top: 53px;
}

.input_first {
  width: 383px;
  margin-top: 26px;
  height: 31px;
  background-color: #333;
  color: #e0e0e0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
}

input::-webkit-input-placeholder {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
}

.input_email {
  display: block;
  width: 383px;
  margin-top: 15px;
  height: 31px;
  background-color: #333;
  color: #e0e0e0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
}

.fieldset {
  width: 380px;
  height: 118px;
  margin-top: 22px;
  background-color: #333;
  border-radius: 5px;
}

.textarea {
  width: 380px;
  height: 107px;
  background-color: #333;
  border: 0;
  resize: none;
  outline: none;
}

legend {
  position: relative;
  top: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  margin-left: 4px;
  white-space: pre;
}

.checkbox {
  margin-top: 26px;
  margin-left: 2px;
  background: #333;
}

.text_checkbox {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -3px;
  left: 2px;
}

.footer__button-send {
  display: block;
  position: relative;
  left: 253px;
  top: 26px;
  width: 108px;
  height: 16px;
  background: #333;
  text-transform: uppercase;
  outline: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  border: 0;
  margin-top: 0px;
  font-weight: 500;
}

.footer_span-arrow {
  background-image: url(../../assets/images/Arrow4.svg);
  width: 42px;
  height: 2px;
  padding: 3px;
  display: inline-block;
  line-height: 21px;
  position: relative;
  top: 0px;
  right: -18px;
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.zoo-online-centre__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  padding-right: 540px;
  padding-right: 659px;
  padding-top: 54px;
  color: #fefefe;
}

.zoo-online-centre-info,
.zoo-online-centre-info2,
.zoo-online-centre-info3,
.zoo-online-centre-info4 {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  padding-top: 35px;
}

.zoo-online-centre-info2 {
  padding-top: 5px;
}

.zoo-online-centre-info3 {
  padding-top: 20px;
}

.zoo-online-centre-info4 {
  padding-top: 5px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 20px;
  height: 121px;
  top: -72px;
  left: 2px;
}

.social_footer {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 125px;
  height: 20px;
  top: 0px;
  left: -15px;
  margin-top: 20px;
}

.social_footer li {
  padding-left: 15px;
}

a {
  text-decoration: none;
  text-transform: none;
}

.hr {
  border-bottom: 1px #bdbdbd solid;
  width: 1620.04px;
  margin-top: 74px;
}

.copyright1 {
  font-family: "Roboto", sans-serif;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 28px;
}

.copyright2 {
  font-family: "Roboto", sans-serif;
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 5px;
}

.footer__button:hover {
  opacity: 0.4;
}

.map__button:hover {
  opacity: 0.4;
}

.pets-in-zoo__slider-p:hover {
  position: relative;
  border-bottom: 10px #4bd8b5 solid;
  width: 30px;
  height: 10px;
  left: 30px;
  top: 1px;
}

.about {
  font-weight: 400;
}

.about span {
  line-height: 19px;
}

li .zoos {
  font-weight: 900;
  border-bottom: 1px black solid;
}

li .map_nav:hover {
  font-weight: 400;
  border-bottom: 1px white solid;
}

.about,
.map_nav,
.zoos,
.contact_us,
.design {
  font-family: "Roboto", sans-serif;
}

.social_footer li a:hover {
  opacity: 0.4;
}

.map_nav1 {
  text-decoration: none;
}

.header__navigation a:hover {
  font-weight: 900;
}

.header__navigation li .map_nav:hover {
  font-weight: 400;
  text-decoration: none;
}

.arrow-left_img:hover {
  opacity: 0.4;
}

.arrow-right_img:hover {
  opacity: 0.4;
}

.the-zoo__bg {
  width: 100%;
  height: 910px;
}

.animals__gallery {
  position: sticky;
  width: 209px;
  height: 660px;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  float: left;
}

.animals__croco {
  border-radius: 178px;
<<<<<<< HEAD
  width: 78px;
  height: 78px;
  transform: scale(1.2);
=======

  width: 78px;
  height: 78px;
  transform: scale(1.28);
>>>>>>> online-zoo
}

.pets {
  width: 108px;
  height: 108px;
}

.pets:hover {
  border-radius: 178px;
  border: 3px solid #e01071;
<<<<<<< HEAD
  transform: scale(1.2);
=======
  transform: scale(1.28);
>>>>>>> online-zoo
}

.animals__top-vector {
  margin-top: 0;
  position: relative;
  margin-left: 89px;
  left: -41px;
}

.animals__bottom-vector {
  margin-right: 93px;
  position: relative;
  left: 44px;
}

.animals__top-vector:hover {
  transform: scale(1.3);
}

.animals__bottom-vector:hover {
  transform: scale(1.3);
}

.content__the-zoo {
  max-width: 1620px;
  margin: 0 auto;
}

.streams {
  margin-right: 0;
  margin-left: 129px;
}

.stream__text {
  width: 883px;
  height: 56px;
  margin-top: 59px;
  margin-left: 21px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.main-stream {
  width: 790px;
  height: 442px;
  margin-top: 40px;
  margin-left: 21px;
  border-radius: 5px;
}

.down__block {
  margin-left: 21px;
  width: 790px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.down__stream {
  width: 246px;
  height: 141px;
  margin-top: 27px;
  border-radius: 5px;
}

.stream2 {
  margin-left: 25px;
  margin-right: 25px;
}

.right__side {
  margin-left: -62px;
}

.right__info {
  width: 380px;
  height: 241px;
  margin-top: 156px;
  margin-left: 0px;
}

.population {
  width: 104px;
  height: 23px;
  margin-left: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.population__text {
  width: 145px;
  height: 16px;
  margin-top: 6px;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.habitat {
  width: 72px;
  height: 23px;
  margin-top: 13px;
  margin-left: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.habitat__text {
  width: 380px;
  height: 32px;
  margin-top: 6px;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.diet {
  width: 43px;
  height: 23px;
  margin-top: 1px;
  margin-left: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.diet__text {
  width: 380px;
  height: 80px;
  margin-top: 6px;
  margin-left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.feed__btn {
  width: 194px;
  height: 55px;
  background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  border-radius: 3px;
  border: 0;
  margin-top: 35px;
}

.btn__heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.all__main {
  display: flex;
  position: relative;
  left: -148px;
}

.feed__btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.zoos {
  border-bottom: 1px black solid;
  font-weight: 900;
  line-height: 19px;
}

.animals__panda {
  position: relative;
  margin-right: 5px;
  left: -12px;
  width: 138px;
  height: 138px;
  border: 3px solid #e01071;
  border-radius: 50%;
}

.animals__croco {
  position: relative;
  width: 120px;
  height: 120px;
}

.footer__button-send:hover {
  color: red;
  opacity: 0.4;
}

.animals__panda {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #e01071;
  position: relative;
  left: -13px;
  top: 12px;
}

.animals__top-vector {
  position: relative;
  top: 20px;
}

.animals__bottom-vector {
  position: relative;
  top: -10px;
  left: 41px;
}

.header__navigation li .zoos {
  font-weight: 900;
  border-bottom: 1px black solid;
}

<<<<<<< HEAD

=======
.header__navigation li .zoos:hover {
  font-weight: 400;
  border-bottom: 1px white solid;
}
>>>>>>> online-zoo

.header__navigation li .map_nav:hover {
  font-weight: 900;
  border-bottom: 1px white solid;
}

.footer__button-send:hover {
  color: red;
  opacity: 0.4;
}

.animals__croco {
  width: 102px;
  height: 102px;
}

.footer__navigation li:hover {
  opacity: 0.4;
  color: red;
}

#form-checkbox {
  display: none;
}

.checkbox-title:before {
  content: " ";
  color: #4bd8b5;
  display: inline-block;
  margin-right: 6px;
  margin-left: 2px;
  text-align: center;
  width: 12px;
  text-indent: 0px;
  height: 12px;
  background: #333;
  border: 1px solid #bdbdbd;
  border-image: initial;
  vertical-align: middle;
  border-radius: 1px;
}

input:checked + label:before {
  content: "Y";
}

.checkbox__footer {
  position: relative;
  top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
}

.hr {
  margin-top: 74px;
}
<<<<<<< HEAD

.slider-btn_1 {
  position: relative;
  width: 11px;
  height: 11px;
  left: 587px;
  top: 34px;
  border-radius: 50%;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  }
  
  .slider-btn_2 {
    position: relative;
    width: 8px;
    height: 8px;
    left: 602px;
      top: 24px;
    border-radius: 50%;
    background-color: #C4C4C4;
    }
  
    .slider-btn_3 {
      position: relative;
      width: 8px;
      height: 8px;
      left: 615px;
      top: 16px;
      border-radius: 50%;
      background-color: #C4C4C4;
      }
 
      .slider-btn {
        position: relative;
        top: -150px;
      }

      .slider-btn_1:hover {
        cursor: pointer;
      }
  
      .slider-btn_2:hover {
        cursor: pointer;
      }
  
      .slider-btn_3:hover {
        cursor: pointer;
      }
=======
>>>>>>> online-zoo
