body {
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper_container {
    width: 1440px;
    margin: 0 auto;
}

.content_container {
    width: 1200px;
    margin: 0 auto;
}

.content_header_survival {
    background-image: url(assets/Rectangle.png);
    min-height: 779px;
}

.btn {
    display: inline-block;
    color: white;
    font-family: "Roboto", sans-serif;
    border: 2px solid #CD6326;
    border-radius: 5px;
    font-size: 23px;
    width: 116px;
    height: 45px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    padding-top: 1px;
}

.search {
    display: inline-block;
    background: url(assets/Vector.png) no-repeat;
    width: 32px;
    height: 32px;
    line-height: 32px;
    vertical-align:middle;
    padding-bottom: 4px;
    padding-left: -4px;
}

.header_navigation li {
    list-style-type: none;
    display: inline-block;
}

.nav {
    float: right;
    margin-top: 3px;
}

.logo {
    display: inline-block;
    width: 70px;
    height: 60px;
    background: url("assets/Frame (3).svg");
    margin-top: 19px;
    font-weight: normal;
}

.logo_text {
    display: inline-block;
    width: 155px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    color: rgba(247, 247, 247, 1);
    margin-left: 82px;
    font-weight: normal;
}

.header_navigation {
    margin-top: 15px;
}

.header_navigation li {
    margin-left: 52px;
}

.contacts {
    display: inline-block;
    line-height: 60px;
    width: 96px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-right: 8px;
}


.blog {
    display: inline-block;
    line-height: 60px;
    width: 50px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    margin-right: 6px;
}

.article_container {
    height: 400px;
}

.survival {
    line-height: 72px;
    font-size: 48px;
    width: 199px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: rgba(205, 99, 38, 1);
}

.header_container {
    height: 160px;
}

.survival_text {
    display: inline-block;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 274px;
    height: 108px;
    line-height: 27px;
    margin: 11px 0 0 1px;
}

.btn_donate {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Roboto", sans-serif;
    background: #CD6326;
    border-radius: 5px;
    font-size: 23px;
    width: 161px;
    height: 60px;
    text-align: center;
    line-height: 27px;
    text-decoration: none;
    margin-top: 48px;
}

.content_header_survival {
    height: 779px;
}

.content_latest_articles {
    height: 1368px;
    background: #CCCCCC;
}

.content_head {
    color: black;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding-top: 123px;
    text-align: center;
}

.content_head5 {
    color: rgba(102, 102, 102, 1);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 36px;
    margin: 24px;
    font-weight: 400;
}